* {
  box-sizing: border-box;
}
body {
  background-color: rgb(221, 202, 180);
  font-family: "Inconsolata", sans-serif;
  font-size: small;
}
#mainDiv {
  margin: 0 auto;
  max-width: 400px;
}
button {
  margin: 5px;
}

.title {
  text-align: center;
  padding: 2rem 0 3rem 0;
}
